<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Гостиницы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="hotelsForm">
    <ion-item>
      <ion-label>Цена от</ion-label>
      <ion-input formControlName="priceFrom" type="number"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Цена до</ion-label>
      <ion-input formControlName="priceTo" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Наличие парковки обязательно</ion-label>
      <ion-checkbox formControlName="hasParking" color="dark"></ion-checkbox>
    </ion-item>
  </form>
  <ion-list>
    <ng-container *ngFor="let hotel of hotels">
      <button *ngIf="filterHotels(hotel)" ion-item (click)="openDetailedHotel(hotel)">
        <ion-avatar item-start>
          <img src="{{hotel.imageUrl}}">
        </ion-avatar>
        <h2>{{hotel.title}}</h2>
        <p>{{hotel.address}}</p>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
